[submodule "redaxo/include/addons/tinymce"]
  path = redaxo/include/addons/tinymce
  url = https://github.com/aeberhard/tinymce.git
[submodule "redaxo/include/addons/xform"]
	path = redaxo/include/addons/xform
	url = https://github.com/dergel/redaxo4_xform.git
[submodule "redaxo/include/addons/textile/vendor"]
	path = redaxo/include/addons/textile/vendor
	url = https://github.com/gharlan/textile.git
[submodule "redaxo/include/addons/community"]
	path = redaxo/include/addons/community
	url = https://github.com/dergel/redaxo4_community.git
