/* *** ALLGEMEIN *** */

#rex-xform fieldset{
    border:1px solid #333;
    margin:0;
    padding:20px;
    padding-bottom:10px;
    border:1px solid #d5eeff;
}


#rex-xform legend {
    margin-left:-5px;
    padding:0px 5px;
    background-color:#d5eeff;
    color:#216491;
    font-size:14px;
}

#rex-xform label {
    float:left;
    width:160px;
    line-height:23px;
}

#rex-xform select {
    border:1px solid #ccc;
    padding:2px;
    width:250px;
}

#rex-xform ul.form_warning {
    color:#f00;
    margin-bottom:20px;
}

#rex-xform ul.form_warning li{
    list-style-type: square;
    margin-left:15px;
}


#rex-xform p.formcaptcha input,
#rex-xform p.formtextarea textarea,
#rex-xform p.formselect select,
#rex-xform p.formtext input,
#rex-xform p.formpassword input,
#rex-xform input.formtext,
#rex-xform textarea {
    border:1px solid #ccc;
    padding:2px;
    width:250px;
}

#rex-xform p.formcaptcha input,
#rex-xform p.formselect select,
#rex-xform p.formtext input,
#rex-xform p.formpassword input,
#rex-xform input.formtext {
    height:15px;
}

/* ***************************** TEXTAREA */
#rex-xform textarea {
    height:80px;
}

/* ***************************** TEXT */
#rex-xform p.formtext {
    clear:both;
    padding-bottom:0px;
    margin-bottom:5px;
}

#rex-xform p.formpassword {
    clear:both;
    padding-bottom:0px;
    margin-bottom:5px;
}

/* ***************************** HTML */
#rex-xform p.formhtml {
    margin-top:10px;
    margin-bottom:10px;
    font-weight:bold;
}

/* ***************************** TEXTSELECT */
#rex-xform p.formselect {
    clear:both;
    padding-bottom:0px;
    margin-bottom:10px;
}

#rex-xform p.formselect select {
    height:20px;
    padding:1px;
    width:256px;
}

/* ***************************** CAPTCHA */

#rex-xform p.formcaptcha {
    clear:both;
    padding-bottom:10px;
    margin-bottom:10px;
}

#rex-xform p.formcaptcha label{

}

#rex-xform p.formcaptcha input{
    margin-top:4px;
}

#rex-xform p.formcaptcha span{
    display:block;
}

/* ***************************** TEXTSELECT */
#rex-xform p.formtextarea {
    clear:both;
    padding-bottom:0px;
    margin-bottom:10px;
}

#rex-xform p.formtextarea textarea {
    height:80px;
}

/* ***************************** CHECKBOX */

#rex-xform p.formcheckbox {
    clear:both;
    padding:0;
    margin-bottom:10px;
    height:22px;
}

#rex-xform p.formcheckbox input {
    float:left;
    margin:5px;
    margin-left:135px;
}

#rex-xform p.formcheckbox label {
    float:left;
    margin-left:10px;
    width:250px;
    line-height:23px;
}


/* ***************************** RADIO */

#rex-xform p.formradio {
    clear:both;
    padding:0;
    margin-bottom:10px;
    height:22px;
}

#rex-xform p.formradio input {
    float:left;
    margin:5px;
}

#rex-xform p.formradio label {
    float:right;
    width:460px;
    line-height:23px;
}

/* ***************************** LINE */

p.formline {
    height:1px;
    border-bottom:1px solid #ccc;
    margin-bottom:10px;
}

/* ***************************** BE MEDIAPOOL */

#rex-xform p.formbe_mediapool {
    clear:both;
    padding:0;
    margin-bottom:10px;
    height:22px;
}

#rex-xform p.formbe_mediapool input {
    float:left;
    margin:0px;
}

#rex-xform p.formbe_mediapool label {
    float:left;
    width:160px;
}

#rex-xform p.formbe_mediapool span {
    margin-left:10px;
}



/* ***************************** SUBMIT */

#rex-xform input.submit {
	background-image: url(../be_style/plugins/agk_skin/button.gif);
	background-repeat: repeat-x;
	padding: 2px 6px;
	border: 0;
	-moz-outline-radius-bottomleft: 4px;
	-moz-outline-radius-bottomright: 4px;
	-moz-outline-radius-topleft: 4px;
	-moz-outline-radius-topright: 4px;
	outline: 1px solid #CBCBCB;
}

