.rex-dashboard-component-config {
  display: none;
}



.rex-dashboard-section {
	clear: both;
	float: left;
	width: 100%;
}

.rex-dashboard-column {
}

.rex-dashboard-component {
	margin-bottom: 10px;
	background-color: #F0EFEB;
}
.rex-dashboard-column h3 {
	padding: 9px 5px;
	background-color: #D7D6D3;
}
.rex-dashboard-component-navi {
	margin: -2em 10px 0 0;
	text-align: right;
}
.rex-dashboard-component-navi li {
	display: inline;
}
.rex-dashboard-component-content {
	padding: 2em 10px 1em 10px;
}

.rex-dashboard-1col {
}

.rex-dashboard-2col .rex-dashboard-column {
	float: right;
	width: 380px;
}
.rex-dashboard-2col .rex-dashboard-column-first {
	float: left;
}







.rex-dashboard-component {
	background-color: #EFF9F9;
}
.rex-dashboard-column h3 {
	background-color: #DFE9E9;
}
.rex-dashboard-component-navi {
	margin-top: -21px;
}
.rex-dashboard-2col .rex-dashboard-column {
	width: 367px;
}