.rex-dashboard-component-config {
  display: none;
}



.rex-dashboard-section {
	clear: both;
	float: left;
	width: 100%;
}

.rex-dashboard-column {
}
.rex-dashboard-1col {
}

.rex-dashboard-2col .rex-dashboard-column {
	float: right;
	width: 380px;
}
.rex-dashboard-2col .rex-dashboard-column-first {
	float: left;
}


.rex-dashboard-component {
	margin-bottom: 10px;
	background-color: #F0EFEB;
}
.rex-dashboard-component h3.rex-hl2 {
	padding: 9px 5px;
	background-color: #D7D6D3;
}
.rex-dashboard-component-navi {
	margin: -19px 10px 0 0;
	text-align: right;
}
.rex-dashboard-component-navi li {
	display: inline;
	margin-left: 10px;
}
.rex-dashboard-component-content {
	padding: 20px 10px 1em 10px;
}
.rex-dashboard-component-footer {
	padding: 5px 10px 5px 0;
	background-color: #D7D6D3;
	border-top: 1px solid #cbcbcb;
	font-size: .9em;
	font-style: italic;
	text-align: right;
}

.rex-dashboard-component-content table.rex-table {
	margin: -10px -10px 0 -10px;
}
.rex-dashboard-1col .rex-dashboard-component-content table.rex-table {
	width: 770px;
}
.rex-dashboard-2col .rex-dashboard-component-content table.rex-table {
	width: 380px;
}




.rex-dashboard-2col .rex-dashboard-column {
	width: 367px;
}

.rex-dashboard-component {
	background-color: #EFF9F9;
}
.rex-dashboard-component h3.rex-hl2 {
	background-color: #DFE9E9;
}
.rex-dashboard-component-navi {
	margin-top: -22px;
}
.rex-dashboard-component-footer {
	background-color: #DFE9E9;
}
.rex-dashboard-1col .rex-dashboard-component-content table.rex-table {
	width: 744px;
}
.rex-dashboard-2col .rex-dashboard-component-content table.rex-table {
	width: 366px;
}


div.rex-dashboard-component {
	border: 0;
	-moz-outline-radius-bottomleft: 4px;
	-moz-outline-radius-bottomright: 4px;
	-moz-outline-radius-topleft: 4px;
	-moz-outline-radius-topright: 4px;
	outline: 1px solid #CBCBCB;
}

.rex-dashboard-component-content .rex-table {
	border: 0;
	-moz-outline-radius-bottomleft: 0;
	-moz-outline-radius-bottomright: 0;
	-moz-outline-radius-topleft: 0;
	-moz-outline-radius-topright: 0;
	outline: 0;
}
