/**
 * CSS Datei des Backends
 * @package redaxo4
 * @version $Id: top.php,v 1.7 2008/04/02 19:58:00 kills Exp $
 */


@import url('css_basic.css');
@import url('css_navigation.css');
@import url('css_form.css');
@import url('css_component.css');

div.rex-content-body ul,
div.rex-addon-output ul{
    margin-bottom:1em;
}

div.rex-content-body ul li,
div.rex-addon-output ul li{
    list-style-type:square;
    margin-left:1.5em;
}
