/**
 * CSS Datei des Backends
 * @package redaxo4
 * @version $Id: top.php,v 1.7 2008/04/02 19:58:00 kills Exp $
 */


caption.rex-hidden,
legend.rex-hidden {
	display: none;
}


/*	Abstaende ******************************************************************
*******************************************************************************/
/*  Allgemeine Anweiungen siehe unten */
h3.rex-hl3, 
h4.rex-hl3, 
p.rex-tx1, 
p.rex-tx4, 
ul.rex-ul1, 
div.rex-addon-content h3, 
div.rex-addon-content h4, 
div.rex-addon-content p, 
div.rex-addon-content ul, 
div.rex-addon-content ol, 
div.rex-addon-content dl, 
div#rex-form-medienpool-selectcategory {
	margin-bottom: 1em;
}

div.rex-addon-content h3, 
div.rex-addon-content h4 {
	padding-top: 1em;
} 


/*	Ueberschriften *************************************************************
*******************************************************************************/
.rex-hl2 {
	padding: 7px 5px;
}
div.rex-content-editmode-module-name h3.rex-hl4 {
	padding-left: 5px;
}


/*	Texte **********************************************************************
*******************************************************************************/
.rex-tx2, 
.rex-tx3, 
.rex-tx4 {
	font-weight: bold;
}


/*	Listen *********************************************************************
*******************************************************************************/
ul.rex-ul1 {
	margin-left: 20px;
}
ul.rex-ul1 li {
	list-style-type: square;
}


/*	Code ***********************************************************************
*******************************************************************************/
.rex-code {
  display: block;
  padding: 20px 10px;
  border-width: 1px;
  border-style: solid;
}


/*	Hinweise *******************************************************************
*******************************************************************************/
div.rex-message {
	clear: both;
	width: 100%;
	margin: 0 0 10px 0;
	font-weight: bold;
}
div.rex-form div.rex-message, 
div.rex-content-editmode div.rex-message  {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
div.rex-content-editmode div.rex-message {
	margin-bottom: 0;
}
/*
table div.rex-message,
body#rex-page-content div.rex-message,
div.rex-content-editmode-slc div.rex-message {
	margin-bottom: 0px;
}
body#rex-page-medienpool div.rex-message {
	margin-bottom: 2px;
}
div.rex-content-editmode-slc div.rex-message {
	padding: 0;
}
*/
div.rex-message .rex-info, 
div.rex-message .rex-warning {
	padding: 8px 5px;
}
div.rex-message span {
	display: block;
	padding: 0 45px;
}



div.rex-message-block {
	clear: both;
	margin: 0 0 10px 0;
	padding: 8px 45px;
	line-height: 1.6;
}
div.rex-message-block ol {
	margin-left: 20px;
}
div.rex-message-block ol li {
	list-style-type: decimal;
}
div.rex-message-block ul {
	margin-left: 15px;
}
div.rex-message-block ul li {
	list-style-type: square;
}


/*	Buttons ********************************************************************
*******************************************************************************/
p.rex-button-add {
}

/*  Kategorietabelle Metainfo Button */
div#rex-form-structure-category p.rex-button-add {
  float: left;
  margin-right: 5px;
  padding-top: 2px;
}

/*	Table **********************************************************************
*******************************************************************************/
table.rex-table {
	clear: both;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 1px;
}
table.rex-table-mrgn, 
div#rex-form-structure-category {
	margin-bottom: 10px;
}
div#rex-form-structure-category table.rex-table-mrgn {
	margin-bottom: 0px;
}
	
	
table.rex-table caption,
table.rex-table th,
table.rex-table td {
	padding: 9px 5px;
	border-width: 1px;
	border-style: solid;
	border-right-width: 0;
	vertical-align: top;
}
div#rex-form-structure-article table.rex-table th,
div#rex-form-structure-article table.rex-table td, 
div#rex-form-structure-category table.rex-table th,
div#rex-form-structure-category table.rex-table td, 
div#rex-form-system-language table.rex-table th,
div#rex-form-system-language table.rex-table td, 
div#rex-form-medienpool-media table.rex-table th,
div#rex-form-medienpool-media table.rex-table td,  
div#rex-form-medienpool-categories table.rex-table th,
div#rex-form-medienpool-categories table.rex-table td {
	vertical-align: middle;
}
table.rex-table caption {
	padding: 5px;
	border-bottom: 0;
	border-left: 0;
	text-align: left;
}

table.rex-table caption {
	display: inline !important;
	position: absolute !important;
	left: -1000px !important;
	top: -1000px !important;
	width: 0px !important;
	height: 0px !important;
	overflow: hidden !important;
	background-color: #FFF !important;
}

body#rex-page-module table.rex-table caption {
	border:0;
}

table.rex-table th {
	border-bottom: 0;
	text-align: left;
}

/*	real width = border + padding + width */
table.rex-table th.rex-icon,
table.rex-table td.rex-icon, 
table.rex-table th.rex-small,
table.rex-table td.rex-small {
	width: 29px;
	text-align: center;
}
table.rex-table th.rex-icon,
table.rex-table td.rex-icon {
	padding-top: 6px;
	padding-bottom: 0;
}
div#rex-form-structure-article table.rex-table th.rex-icon,
div#rex-form-structure-article table.rex-table td.rex-icon, 
div#rex-form-structure-category table.rex-table th.rex-icon,
div#rex-form-structure-category table.rex-table td.rex-icon, 
div#rex-form-medienpool-media table.rex-table th.rex-icon,
div#rex-form-medienpool-media table.rex-table td.rex-icon, 
div#rex-form-medienpool-categories table.rex-table th.rex-icon,
div#rex-form-medienpool-categories table.rex-table td.rex-icon {
	padding-bottom: 6px;
}
body#rex-page-addon table.rex-table tr.rex-plugin td.rex-col-b, 
body#rex-page-credits table.rex-table tr.rex-plugin td.rex-col-a {
	padding-left: 15px;
}

table.rex-table th.rex-colz,
table.rex-table td.rex-colz {
	width: 153px;
}
/*
table.rex-table th.rex-icon img, 
table.rex-table td.rex-icon img {
	vertical-align: middle;
}
*/


/*	Allgemeiner Block (Addon Hilfeseiten) / Addon Seiten ***********************
*******************************************************************************/
div.rex-area, 
div.rex-addon-output {
	float: left;
	width: 100%;
}
div.rex-area-content, 
div.rex-addon-content {
	padding: 10px 5px;
}
div.rex-area-footer, 
div.rex-addon-footer {
	padding: 7px 5px;
	font-weight: bold;
}

/*	Spaltigkeit ****************************************************************
*******************************************************************************/
div.rex-area-col-2, 
div.rex-addon-col-2 {
	position: relative;
	float: left;
	width: 100%;
}
div.rex-area-col-a, 
div.rex-area-col-b, 
div.rex-addon-col-a, 
div.rex-addon-col-b {
	float: left;
	width: 50%;
}
div.rex-area-col-b, 
div.rex-addon-col-b {
	float: right;
}



/*	Setup **********************************************************************
*******************************************************************************/
/* Language */
div#rex-setup ul.rex-setup-language {
	font-weight: bold;
	text-align: center;
}
div#rex-setup ul.rex-setup-language li {
	display: block;
	padding: 5px 0;
}

/* License */
div.rex-area-scroll {
	margin: 30px 0;
	padding: 5px 0 5px 5px;
	width: 500px;
	height: 200px;
	overflow: auto;
	border-width: 1px;
	border-style: solid;
}
/*	Editmode *******************************************************************
*******************************************************************************/
div.rex-content-editmode, 
div.rex-content-editmode-module-name {
	float: left;
	width: 100%;
}

div.rex-content-editmode-module-name h3 {
	float: left;
}
div.rex-content-editmode-module-name div.rex-navi-slice {
	float: right;
}

div.rex-content-editmode-slice-input, 
div.rex-content-editmode-slice-output {
	clear: both;
	padding: 10px 5px;
} 
div.rex-content-editmode-slice-output {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}


/*	Linkmap ********************************************************************
*******************************************************************************/
div#rex-linkmap {
	clear: both;
	position: relative;
	float: left;
	width: 100%;
}


/*	Medienpool *****************************************************************
*******************************************************************************/
div#rex-medienpool-detail-wrapper {
  float: left;
  width: 100%;
}
div.rex-medienpool-detail-image {
	float: right;
	width: 34%;
	padding-top: 5px;
	text-align: center;
}

/*	Widget *********************************************************************
*******************************************************************************/
div.rex-widget {
	float: left;
	margin-bottom: 10px;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
}
/*	Breite war von "div.rex-form div.rex-form-row p" */
div#rex-output div.rex-widget p {
	width: auto;
}

div.rex-widget p.rex-widget-icons {
	padding: 2px 0 0 10px;
}
div.rex-widget-linklist p.rex-widget-icons img, 
div.rex-widget-medialist p.rex-widget-icons img {
	margin-bottom: 2px;
}



/*	System Addon : Import / Export *********************************************
*******************************************************************************/
body#rex-page-import-export table.rex-table tr th {
	white-space: nowrap;
}

body#rex-page-import-export div.rex-area-content, 
body#rex-page-import-export div.rex-addon-content {
	padding: 0;
}
body#rex-page-import-export div.rex-area-content p.rex-tx1 {
	margin-bottom: 0px;
	padding: 5px;
}





/*	Toolbar ********************************************************************
*******************************************************************************/
div.rex-toolbar {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
div.rex-toolbar-content {
	margin-left: 40px;
	padding: 5px;
	border-left-width: 1px;
	border-left-style: solid;
}


/*	Abstaende allgemein ********************************************************
*******************************************************************************/
/*  margin-bottom */
body div#rex-website .rex-mab-10 {
	margin-bottom: 10px;
}

/*  padding-top */
body div#rex-website .rex-pat-0 {
	padding-top: 0px;
}

/*  padding-right */
body div#rex-website .rex-par-0 {
	padding-right: 0px;
}

/*  padding-bottom */
body div#rex-website .rex-pab-0 {
	padding-bottom: 0px;
}

/*  padding-left */
body div#rex-website .rex-pal-0 {
	padding-left: 0px;
}
