/**
 * CSS Datei des Backends
 * @package redaxo4
 * @version $Id: top.php,v 1.7 2008/04/02 19:58:00 kills Exp $
 */


@import url('css_basic.css');
@import url('css_navigation.css');
@import url('css_form.css');
@import url('css_component.css');




div#rex-website {
	width: 964px;
	font-size: .75em;
}

div#rex-navi-main {
	float: left;
	width: 187px;
}

div#rex-wrapper {
	clear: none;
	float: right;
	width: 745px;
}



div#rex-navi-main ul {
	width: 100%;
	margin: 0;
	background-color: #3C9ED0;
}
div#rex-navi-main ul li {
	display: block;
	padding: 4px 10px;
	border-bottom: 1px solid #FFF;
}

