<?php/*   	 0  Standard   	Zugriff für alle   	-1 	Zugriff für nicht eingeloggte User    	 1 	Zugriff für eingeloggte User    	 2 	Zugriff für eingeloggte Moderatoren und Admins  	 3 	Zugriff für eingeloggte Admins*/function rex_com_checkUserPerm($type,$group = ""){	global $REX;	if ($type == "") return true; // Zugriff für alle 	if ($type == "0") return true; // Zugriff für alle   	if (isset($REX['COM_USER']) && is_object($REX['COM_USER']))	{		if ($type == "1") return true; // Zugriff für eingeloggte User		if ($type == "2" && ($REX['COM_USER']->getValue("admin")==1 || $REX['COM_USER']->getValue("moderator")==1)) return true;		if ($type == "3" && $REX['COM_USER']->getValue("admin")==1) return true;	}	if(!isset($REX['COM_USER']) || !is_object($REX['COM_USER']))	{		if ($type == "-1") return true; // Zugriff für nicht eingeloggte User 	} 	return false;}	?>