@import 'linkmap.css';
@import 'form-search.css';

*, 
.rex-nospace {
	margin:0;
	padding:0;
}

fieldset, img {
	border:0;
}

img {
	vertical-align:bottom;
}

a {
	color:#f2353a;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

li {
	list-style-type:none;
}

div, p {
	background-repeat:no-repeat;
}


.rex-clearer { 
	display: block;
	clear: both;
	line-height: 0em;
	height: 1px;
	font-size: 0;
	visibility: hidden;
}

.rex-clear { 
	clear: both;
}

.rex-hide { 
	position: absolute !important;
	left: -1000px !important;
	top: -1000px !important;
	overflow: hidden !important;
	width: 1px !important;
	height: 1px !important;
}
legend.rex-hidden {
	display:none;
}
.rex-flLeft {
	float:left;
	margin-right:10px;
}
.rex-flRight {
	float:right;
	margin-left:10px;
}

.rex-strike {
	text-decoration:line-through;
}


div#rex-output .rex-warning {
	float:left;
	width:670px;
	margin:10px 0;
	padding:8px 50px;
	background:#fae9e5 url(../pics/warning.gif) 2% 50% no-repeat;
	color:#ea1144;
}

table .rex-warning {
	margin:0;
}


h2 {
	margin-bottom:1.2em;
}

/*	Font Metrics
*******************************************************************************/

input, 
select,
textarea {
	padding:1px;
	font-family:verdana, arial, helvetica, sans-serif;
}

h2, 
input, 
select, 
textarea
/*, 
div.rex-cnt-cols input, 
div.rex-cnt-cols select */ {
	font-size:1em;
}

div#rex-title h1 {
	font-size:1.3em;
}
/*
textarea {
	font-size:1.5em;
}
*/
div#rex-title ul, 
div#rex-title p, 
div#rex-clang ul, 
div.rex-cnt-hdr ul {
	line-height:3em;
}

div#rex-title h1 {
	line-height:2.3em;
}



/*	Color Properties
*******************************************************************************/
.rex-ok, 
.rex-online {
	color:#3ec94a;
}

.rex-nice {
	color:#3a3;
}

.rex-error {
	color:#c33;
}

.rex-clr-grn {
	color:#478c44;
}
.rex-clr-red {
	color:#ea1144;
}

div#rex-clang, 
div.rex-cnt-hdr, 
div.rex-cnt-cols {
	background-color:#f0efeb;
}
div.rex-cnt-bdy {
	background-color:#faf9f5;
}



/*	Images
*******************************************************************************/



/*	General
*******************************************************************************/

body {
	margin:8px;
	color:#32353a;
	font-family:verdana, arial, sans-serif; 
	font-size:62.5%;
}


/*	Header / Footer
*******************************************************************************/
div#rex-hdr, 
div#rex-ftr {
	float:left;
	width:770px;
}

body#rex-mpl div#rex-hdr, 
body#rex-mpl div#rex-ftr {
	width:100%;
}

div#rex-ftr {
	clear:both;
	padding:5px 0;
	background:#f0efeb;
	border-top:20px solid #aab9a8;
}

div#rex-hdr p.rex-hdr-top {
	padding:5px;
	background:#f0efeb;
	text-align:right;
}

div#rex-hdr div {
	float:left;
	width:100%;
	padding:5px 0;
	background:#aab9a8;
}

div#rex-hdr div ul, 
div#rex-ftr ul {
	float:left;
	display:inline;
	width:70%;
	margin:0 5px;
}

body#rex-mpl div#rex-hdr div ul {
	width:100%;
}

div#rex-hdr div li, 
div#rex-ftr li {
	display:inline;
	color:#fff;
}
div#rex-ftr li {
	color:#000;
}

div#rex-hdr div li a {
	color:#fff;
	font-weight:bold;
}

div#rex-ftr li a {
	color:#000;
}

div#rex-hdr div p, 
div#rex-ftr p {
	float:right;
	display:inline;
	margin:0 5px;
}

div#rex-hdr div p a {
	color:#fff;
	font-weight:bold;
}




/*	Content
*******************************************************************************/
div#rex-wrapper {
	position:relative;
	float:left;
	clear:both;
	width:770px;
	margin-bottom:10px;
}
body#rex-mpl div#rex-wrapper {
	width:100%;
}

div#rex-output {
	float:left;
	width:100%;
	margin-top:10px;
}
div#rex-output p.rex-hdl {
	background:#d7d6d3;
	font-weight:bold;
}

div.rex-mdl-inp {
	clear:both;
	padding:10px;
}

div.rex-cnt-cols {
	float:left;
	width:100%;
}

div.rex-cnt-col2, 
p.rex-cnt-col2 {
	float:left;
	width:49.9%;
}



/*	Title
*******************************************************************************/
div#rex-title {
	margin-top:10px;
	height:61px;
	background:#f0efeb url(../pics/logo.jpg) 100% 50% no-repeat;
}

html>body div#rex-title {
	height:auto;
	min-height:61px;
}

div#rex-title h1, 
div#rex-title ul, 
div#rex-title p {
	padding-left:7px;
	width:617px;
	border-bottom:1px solid #fff;
	color:#32353a;
}

div.rex-cnt-bdy {
	clear:both;
	padding:1px 150px 0 31px;
}


/*	Listen
*******************************************************************************/
/* 
	div#rex-title ul weiter oben noch def. 
*/
div#rex-clang, 
div.rex-cnt-hdr {
	padding-left:30px;
	margin-bottom:10px;
}
div.rex-cnt-hdr {
	float:left;
	margin:0;
	background-image:url(../pics/document.gif);
	background-position:7px 50%;
	width:740px;
}

div#rex-clang ul {
	padding-left:5px;
	border-left:1px solid #fff;
}
div.rex-cnt-hdr ul {
	float:left;
	margin-right:50px;
	padding-left:10px;
	border-left:1px solid #fff;
}
div#rex-title ul li, 
div#rex-clang ul li, 
div.rex-cnt-hdr ul li {
	display:inline;
	font-weight:bold;
}

div#rex-title ul li, 
div#rex-clang ul li, 
div.rex-cnt-hdr ul li, 
div#rex-title p {
	font-weight:bold;
} 
div.rex-cnt-hdr ul li span {
	color:#000;
	font-weight:normal;
}
div.rex-cnt-hdr ul li a {
	color:#669;
	font-weight:normal;
}


/*	Form
*******************************************************************************/

/*
div.rex-form {
	padding:5px 0;
	background:#eae9e5;
	border:1px solid #ddd;
}

div.rex-form legend {
	display:none;
}

div.rex-form p {
	padding:5px 10px;
}

div.rex-form label {
	display:block;
	float:left;
	width:120px;
}

div.rex-form input {
	padding:1px;
	font-size:1em;
}

div.rex-form input.fsubmit {
}




textarea.rex-ftxtr-cd {
	height:150px;*/
	/* font:normal 1em/1.6 courier; */
/*}  

input.rex-fsubmit {
	padding:0 5px;
}
form#rex-tmp-editmode input.rex-fsubmit {
	margin-left:150px;*/
	/*
	background:#d6e1e4;
	border:1px solid #91ADB6;
	border-top-color:#BED0D4;
	border-left-color:#BED0D4;
	*//*
}*/





body div#rex-output legend.rex-lgnd {
	padding:5px;
	font-weight:bold;
}
body div#rex-output p.rex-hdl, 
body div#rex-output div.rex-spc-stn-cnt, 
body div#rex-output div.rex-lgn-frm p,  
body div#rex-output div.rex-tmp-editmode p,
body div#rex-output div.rex-mdl-editmode p,
body div#rex-output div.rex-spc-stn-cnt p, 
body div#rex-output div.rex-mpl-catslct-frm p, 
body div#rex-output div.rex-mpl-dtl-wrp p,
body div#rex-output div.rex-mpl-oth p, 
body div#rex-output div.rex-mpl-oth li, 
body div#rex-output p.rex-cnt-mdl-name,
body div#rex-output p.rex-sbmt, 
body div#rex-output p.rex-slct {
	padding:5px;
}
body div#rex-output p label {
	clear:left;
	display:block;
	float:left;
	width:150px;
}
body div#rex-output p label.rex-lbl-rght {
	clear:none;
	display:inline;
	float:left;
	width:200px;
}

/* 
	p.rex-chckbx - just in content.inc.php
	p.rex-sbmt	 - just in content.inc.php
*/
body div#rex-output p.rex-chckbx input, 
body div#rex-output p.rex-sbmt input, 
body div#rex-output p input.rex-chckbx, 
body div#rex-output p input.rex-sbmt {
	width:auto;
}


/*	Table
*******************************************************************************/
table.rex-table {
	clear:both;
	margin-bottom:10px;
	width:100%;
	background:#f0efeb;
	border-collapse:collapse;
	border-spacing:1px;
}

table.rex-table caption, 
table.rex-table th, 
table.rex-table td {
	padding:5px;
	border:1px solid #fff;
	border-right:0;
}

table.rex-table caption {
	background-color:#c7c6c2;
	background-color:#cac8c4;
	background-color:#d6e1e4;
	/* border-left:0; */
	border-bottom:0;
	font-weight:bold;
	text-align:left;
}

/*
table.rex-table tr.rex-trow-actv td {
	background:#b0bdc3;
}
*/
table.rex-table th {
	background:#d7d6d3;
	border-bottom:0;
	text-align:left;
}

table.rex-table th.rex-icon, 
table.rex-table td.rex-icon {
	width:30px;
	text-align:center;
}

table.rex-table th.rex-colz {
	width:143px;
}





/*	Setup
*******************************************************************************/
div#rex-stp {
	padding:20px 5px;
	background-color:#faf9f5;
}
/*
div#rex-stp p {
	float:left;
	width:100%;
}
*/
/* Language */
div#rex-stp ul.rex-stp-language {
	font-weight:bold;
	text-align:center;
}
div#rex-stp ul.rex-stp-language li {
	display:block;
	padding:5px 0;
}
div#rex-stp ul.rex-stp-language li a {
	color:#000;
}


/* License */
div#rex-stp-lcns {
	margin:30px 0;
	padding:5px 0 5px 5px;
	width:500px; 
	height:200px; 
	overflow:auto; 
	background-color:#fff; 
	border:1px solid #f0efeb;
}

 
 
div#rex-stp p label {
	width:200px;
}
 
div#rex-stp form#rex-stp-database label {
	margin-bottom:1em;
	width:450px;
}
div#rex-stp label.rex-lbl-right {
	clear:none;
	display:inline;
	float:left;
	width:200px;
}

div#rex-stp input, 
div#rex-stp select, 
div#rex-stp textarea {
	width:300px;
}

div#rex-stp select.rex-slct {
	clear:both;
	float:none;
	margin-left:50px;
}

div#rex-stp input.rex-chckbx {
	clear:both;
	float:left;
	margin:0 5px 0 30px;
}

div#rex-stp form#rex-stp-admin input.rex-chckbx {
	margin-left:180px;
}
div#rex-stp input.rex-sbmt {
	margin-left:200px;
}





/*	Login - Form
*******************************************************************************/
div.rex-lgn-frm {
	clear:both;
	background-color: #f0efeb;
	border: 1px solid #eae9e5;
}
body div#rex-output div.rex-lgn-frm p label {
	width:100px;
}
div.rex-lgn-frm p input {
	width:100px;
} 
div.rex-lgn-frm p input.rex-sbmt {
	margin-left:20px;
}


/*	Inputs in Table
	- add, edit Category (Structure, Medienpool)
	- add, edit Article (Structure)
*******************************************************************************/
/* - Cat/Art Edit Form */
input#category_name, 
input#Position_New_Category, 
input#Position_Category, 
input#kat_name, 
input#article_name,
input#Position_New_Article, 
input#Position_Article, 
input#template_id, 
input#catname   {
	width:98%;
}



/*	Content - Editmode
*******************************************************************************/

/* rex-cnt-editmode-slc = Modulename - List Edit / Delete / Up / Down */
div.rex-cnt-editmode div.rex-cnt-editmode-slc {
	float:left;
	width:100%;
	background:#ccd7dd;
	font-size:1.2em;
	font-weight:bold;
}
div.rex-cnt-editmode div.rex-cnt-editmode-slc p {
	padding:10px 5px;
}
div.rex-cnt-editmode div.rex-cnt-editmode-slc ul {
	padding:0 10px;
	background:#e4eff2;
}
div.rex-cnt-editmode div.rex-cnt-editmode-slc ul li {
	display:block;
	float:left;
	padding:10px 5px;
}
div.rex-cnt-editmode div.rex-cnt-editmode-slc ul li img {
	vertical-align:middle;
}



div.rex-cnt-editmode, 
div.rex-cnt-editmode form div.rex-cnt-slc-ipt, 
div.rex-cnt-editmode form p.rex-sbmt {
	background-color:#d6e1e4;
}

div.rex-cnt-editmode form {
	width:100%;
	clear:both;
	background-color:#b0bdc3;
}
div.rex-cnt-editmode form p.rex-cnt-mdl-name {
	background:#ccd7dd;
	font-size:1.2em;
}
div.rex-cnt-editmode form p.rex-cnt-mdl-name span {
	font-weight:bold;
}
div.rex-cnt-editmode form p.rex-slct select {
	width:100%;
}
/* Input Area */
div.rex-cnt-editmode form div.rex-cnt-slc-ipt {
	padding:10px 5px;
}

/* Output Area - width for IE-Bug */
div.rex-cnt-editmode div.rex-cnt-slc-otp {
	clear:both;
	width:98%;
	margin:1%;
}



/*	Content - Metamode
*******************************************************************************/
/* width for IE-Bug */
div.rex-cnt-metamode {
	background-color:#d6e1e4;
	width:100%;
}
div.rex-cnt-metamode p {
	padding:5px;
	border-bottom:1px solid #d6e1e4;
	background:#f0efeb;
}
/* general define */
div.rex-cnt-metamode p label {
}
div.rex-cnt-metamode p input, 
div.rex-cnt-metamode p select,
div.rex-cnt-metamode p textarea {
	width:350px;
}
div.rex-cnt-metamode p select.rex-fdatey {
	width:60px;
}
div.rex-cnt-metamode p select.rex-fdate {
	width:40px;
}
div.rex-cnt-metamode p input.rex-sbmt {
	margin-left:150px;
}


/*	Template - Edit-/Addmode
*******************************************************************************/
div.rex-tmp-editmode {
	background-color:#d7d6d3;
	background-color:#d6e1e4;
}

div.rex-tmp-editmode p {
	background-color:#f0efeb;
	border-bottom:1px solid #fff;
}
/* general define */
div.rex-tmp-editmode p label {
}
div.rex-tmp-editmode p input, 
div.rex-tmp-editmode p textarea {
	width:500px;
}
div.rex-tmp-editmode p textarea {
	height:400px;
}
div.rex-tmp-editmode p input.rex-sbmt {
	margin-left:150px;
}


/*	Module/Action - Edit-/Addmode
*******************************************************************************/
div.rex-mdl-editmode {
	background-color:#d7d6d3;
	background-color:#d6e1e4;
}
div.rex-mdl-editmode p {
	background:#f0efeb;
	border-bottom:1px solid #fff;
}
/* general define */
div.rex-mdl-editmode p label {
}
div.rex-mdl-editmode p input, 
div.rex-mdl-editmode p select, 
div.rex-mdl-editmode p textarea {
	width:500px;
}
div.rex-mdl-editmode p input.rex-sbmt {
	margin-left:150px;
}


/*	Addon - Help
*******************************************************************************/
/* Container for User Helpfile */
div.rex-adn-hlp {
	padding:5px;
	background-color:#f0efeb;
}


/*	User - Edit-/Addmode
*******************************************************************************/
div.rex-usr-editmode {
	float:left;
	width:100%;
	background-color:#d6e1e4;
}
div.rex-usr-editmode div {
	clear:both;
	float:left;
	width:100%;
	padding:5px 0;
	background:#f0efeb;
	border-bottom:1px solid #fff;
}
div.rex-usr-editmode p {
	margin:0;
	padding:0;
}
div.rex-usr-editmode p span {
	display:block;
	margin-left:155px;
}
div.rex-usr-editmode p label {
	padding-left:5px;
	font-weight:bold;
}
body div#rex-output div.rex-usr-editmode p label.rex-lbl-rght {
	width:200px;
}
div.rex-usr-editmode p input,  
div.rex-usr-editmode p select,  
div.rex-usr-editmode p textarea {
	width:200px;
} 
div.rex-usr-editmode p input.rex-chckbx {
	clear:both;
	float:left;
	margin:0 5px 0 135px;
}
div.rex-usr-editmode p input.rex-sbmt {
	margin-left:155px;
}


/*	Special
*******************************************************************************/
div.rex-spc-stn div.rex-spc-stn-cnt {
}
body div#rex-output div.rex-spc-stn legend.rex-lgnd {
	padding-left:0;
}
body div#rex-output div.rex-spc-stn-cnt p {
	padding-left:0;
}
body div#rex-output div.rex-spc-stn-cnt p label {
	padding-left:0;
	width:190px;
}
div.rex-spc-stn-cnt p input, 
div.rex-spc-stn-cnt p select  {
	width:40%;
}
div.rex-spc-stn-cnt p input.rex-sbmt {
	margin-left:190px;
}


/*	Medienpool
*******************************************************************************/
/*	Select Categories */
div.rex-mpl-catslct-frm {
	background-color:#d6e1e4;
}
body div#rex-output div.rex-mpl-catslct-frm p {
	background-color:#f0efeb;
}
body div#rex-output div.rex-mpl-catslct-frm p label {
	width:17%;
	font-weight:bold;
}
body div#rex-output div.rex-mpl-catslct-frm p select {
	width:60%;
}

/*	Medienlist */
div.rex-mpl-mdn {
	background-color:#d6e1e4;
}
div.rex-mpl-mdn table.rex-table td span {
	display:block;
	margin-bottom:1em;
}
div.rex-mpl-mdn table.rex-table td span a {
	font-weight:bold;
}

div.rex-mpl-mdn div.rex-mpl-mdn-ftr {
	padding:5px;
}
div.rex-mpl-mdn div.rex-mpl-mdn-ftr input.rex-chckbx, 
div.rex-mpl-mdn div.rex-mpl-mdn-ftr select {
	margin-right:10px;
}

/*	Mediendetail */
div.rex-mpl-dtl {
	background-color:#d6e1e4;
}
div.rex-mpl-dtl div.rex-mpl-dtl-wrp {
	float:left;
	width:100%;
	background-color:#f0efeb;
}
div.rex-mpl-dtl div.rex-mpl-dtl-edt {
	float:left;
	width:100%;
}
div.rex-mpl-dtl div.rex-mpl-dtl-edt p {
	border-bottom:1px solid #fff;
}
body div#rex-output div.rex-mpl-dtl div.rex-mpl-dtl-edt p label {
	width:28%;
}
div.rex-mpl-dtl div.rex-mpl-dtl-edt p input, 
div.rex-mpl-dtl div.rex-mpl-dtl-edt p select, 
div.rex-mpl-dtl div.rex-mpl-dtl-edt p textarea {
	width:70%;
}
div.rex-mpl-dtl div.rex-mpl-dtl-edt p input.rex-sbmt {
	margin-left:28%;
}
div.rex-mpl-dtl div.rex-mpl-dtl-img {
	float:right;
}

/*	manage Medienpool Categories */
div.rex-mpl-cat-pth {
	background-color:#f0efeb;
}
div.rex-mpl-cat-pth ul {
	padding:5px;
}
div.rex-mpl-cat-pth ul li {
	display:inline;
	font-weight:bold;
}
div.rex-mpl-cat {
	background-color:#d6e1e4;
}




/*	Other - Add File, Sync */
div.rex-mpl-oth {
	background-color:#d6e1e4;
}
div.rex-mpl-oth p, 
div.rex-mpl-oth li {
	background-color:#f0efeb;
	border-bottom:1px solid #fff;
}
body div#rex-output div.rex-mpl-oth p label {
	width:28%;
}
body div#rex-output div.rex-mpl-oth p label.rex-lbl-rght {
}
div.rex-mpl-oth p input, 
div.rex-mpl-oth p select, 
div.rex-mpl-oth p textarea {
	width:70%;
}
div.rex-mpl-oth p input.rex-sbmt {
	margin-left:28%;
}