/*******************************************************************************

	Projekt			:	Redaxo CMS

	Copyright		:	Redaxo Group

	Start			:	16.02.2006
	
	letzte 
	Aenderung		:	16.02.2006
	
	Verwendung		:	/pages/linkmap.inc.php

*******************************************************************************/

.rex-searchbar {
	float:left;
	padding:10px 0px;
	width:100%;
	background-color:#f0efeb;
}

.rex-searchbar form {
	float:right;
	text-align:right; /* for IE */ 
	padding-right:20px;
}


.rex-searchbar form input {
	padding:2px; 
	border:1px solid #999; 
	background-color:#fff; 
	cursor:pointer;
}