/*******************************************************************************

	Projekt			:	Redaxo CMS

	Copyright		:	Redaxo Group

	Start			:	16.02.2006
	
	letzte 
	Aenderung		:	16.02.2006
	
	Verwendung		:	/pages/linkmap.inc.php

*******************************************************************************/


/*	Sprachenliste
*******************************************************************************/
div.rex-searchbar ul {
	float:left;
	padding-left:20px;
}
div.rex-searchbar ul li {
	display:inline;
	float:left;
	position:relative;
	font-weight:bold;
	line-height:1em;
}
div.rex-searchbar ul li ul {
/*
	position:absolute;
	right:0;
	top:0;
*/
	margin:0;
	margin-top:-1em;
	padding-left:100px;
	border-right:1px solid #000;
}
div.rex-searchbar ul li ul li {
	padding-right:5px;
	border-right:0;
	border-left:1px solid #000;
	font-weight:normal;
}
div.rex-searchbar ul li ul li a {
	padding-left:5px;
}


/*	Linkmap
*******************************************************************************/
div#rex-linkmap {
	clear:both;
	background-color:#f0efeb;
	border-bottom:5px solid #d7d6d3;
}

div#rex-linkmap h1 {
	padding:5px 0px 4px 20px;
	background-color:#d7d6d3;
}

div.rex-map-categories, 
div.rex-map-articles {
	float:left;
	width:50%;
}

div.rex-map-categories {
	background-color:#faf9f5;
}


div#rex-linkmap ul {
	margin:15px 0;
	list-style:none;
}

div#rex-linkmap ul ul {
	margin:0;
}


div#rex-linkmap ul li {
	padding:2px 20px;
}


div#rex-linkmap ul li a {
	padding:2px 0 2px 20px;
}


div.rex-map-categories ul li.rex-map-startpage a {
	background-image:url(../pics/folder.gif);
	background-position:left center;
	background-repeat: no-repeat;
}


div.rex-map-articles ul li.rex-map-startpage a {
	background-image:url(../pics/liste.gif);
	background-position:left center;
	background-repeat: no-repeat;
}


div.rex-map-articles ul li a {
	background-image:url(../pics/document.gif);
	background-position:left center;
	background-repeat: no-repeat;
}