body,p,td,th,a,input,select,optgroup,option,textarea { font-family: Verdana, Arial, sans-serif; color: #32353a; font-size: 10px; }

th		{ background-color: #d7d6d3; }
a		{ color: #f2353a; text-decoration: none; }
a:hover		{ text-decoration: underline; }
input   	{ color: #000000; }
textarea	{ color: #000000; }
select  	{ color: #000000; }

td.grey		{ background-color: #f0efeb; }
td.lgrey	{ background-color: #faf9f5; }
td.dgrey	{ background-color: #eae9e5; }
td.greenwhite	{ background-color: #aab9a8; color:#ffffff; }
td.greenblack	{ background-color: #aab9a8; }
th.grey		{ background-color: #d7d6d3; }

.blue		{ color: #32353a; }
.lblue		{ color: #32353a; }
.dblue		{ color: #32353a; }
td.blue		{ background-color: #ccd7dd; font-size: 12px; }
td.lblue	{ background-color: #d6e1e4; }
td.llblue	{ background-color: #E4EFF2; }
td.dblue	{ background-color: #b0bdc3; }

th.blue		{ background-color: #d7d6d3; }
th.lblue	{ background-color: #d7d6d3; }
th.dblue	{ background-color: #d7d6d3; }
a.blue		{ color: #666699;  }


a.white		{ color: #ffffff; }

a.red		{ color: #ff9999; }
a.red12b	{ color: #EA1144; font-size: 12px; }
.red		{ color: #EA1144; line-height: 18px; }
.red:link	{ color: #EA1144; line-height: 18px; }
.red:visited	{ color: #EA1144; line-height: 18px; }
.red:hover	{ color: #EA1144; line-height: 18px; }

a.green		{ color: #478c44; }
a.green12b	{ color: #478c44; font-size: 12px;  }
th.greenwhite	{ color: #32353a; background-color: #d7d6d3; }
th.greenblack	{ color: #32353a; background-color: #d7d6d3; }

a.black		{ color: #000000; }

.warning	{ color: #ea1144; background-color: #fae9e5; }
.head		{ color: #32353a; font-size: 13px; }

.content	{ background-color: #faf9f5; line-height: 18px; }
.title		{ color: #EA1144; font-size: 10px; font-weight: bold; line-height: 18px; }
.subtitle	{ font-weight: bold; line-height: 18px; }
.articletitle	{ font-size: 13px; font-weight: bold; line-height: 20px; }
.contentbg	{ background-color: #faf9f5; } 

.inp100		{ width:100%; }
.inpgrey	{ background-color: #f0efeb; }
.inpgrey100	{ width:100%; background-color: #f0efeb; }

optgroup { font-weight: bold; font-style: normal;}

/* Links auf Bildern ohne Rahmen */
a img {
	border: 0px;
}

/* Seiten-Layout - START */
table.rexHeader {
   width: 770px;
   margin-bottom: 10px;
}

table.rexHeader tr th {
   text-align: right;
   font-weight: normal;
   background-color: #f0efeb;
}

table.rexHeader tr td {
   color: white;
   font-weight: bold;
   background-color: #aab9a8;
}

table.rexHeader tr td.logstatus {
   color: black;
   font-weight: bold;
   background-color: #aab9a8;
}

td.logstatus {
   text-align: right;
}

td.logstatus .label {
   font-weight: normal;
}

table.rexFooter {
   width: 770px;
}

table.rexFooter tr th {
   font-weight: normal;
   background-color: #aab9a8;
   color: white;
}

table.rexFooter tr td {
   text-align: left;
   color: black;
   background-color: #f0efeb;
}
/* Seiten-Layout - ENDE */

/* Allgemeines Tabellen-Layout - START */
table.rex {
   width: 770px;
   margin-bottom: 10px;
   table-layout: fixed;
}

table.rex tr th {
   background-color: #d7d6d3;
   text-align: left;
}

table.rex tr td {
   background-color: #f0efeb;
}

table.rex tr.warning td {
   color: #ea1144; 
   background-color: #fae9e5;
}

table.rex tr.status td {
   color: #107c2c; 
   background-color: #d2efd9;
}

table.rex tr.selected td {
   background-color: #eae9e5;
}
/* Allgemeines Tabellen-Layout - ENDE */